{% load static %}

<html>

    <head>
        <meta charset="UTF-8">
        <title>Next Track : Music Recommender System</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
        {% if messages %}
            {% for message in messages %}
                <script>
                alert("{{ message }}");
                </script>
            {% endfor %}
        {% endif %}
        <!-- whole screen -->
        <div id="whole-screen"> 
            <div id="left-side-section">
                
                <!-- search bar -->
                <form id="search-bar" action="#" method="GET">
                    <input class="search-bar-input" type="text" name="q" placeholder="Search by tracks OR artists ... " value="{{ request.GET.q}}">
                    <button class="search-bar-btn" type="submit">Search</button>
                </form>
            
                <!-- display all available tracks -->
                <div id="all-tracks-section">
                    <!-- all tracks section -->
                    <div id="all-tracks-title">
                        {% if request.GET.q %}
                            <h2>Your Search Results</h2>
                            <!-- Show reset button only if there is a search query -->
                            <a href="#" id="reset-tracks-btn">Show All Tracks</a>
                        {% else %}
                            <h2>All Tracks</h2>
                        {% endif %}
                    </div>
                    <!-- all tracks scroller -->
                    <div class="scrollable-list-container" id="all-tracks-list">
                        {% include "nextTrackMR/all_tracks.html" %}
                    </div>
                </div>
            </div>  
            
            <!-- right side -->
            <div id="right-side-section">
                <!-- selected tracks -->
                <div id="playlist-section">
                    <h2>Your playlist</h2>
                    <div class="scrollable-list-container" id="input-tracks-list">
                        {% include "nextTrackMR/input_tracks.html"%}
                    </div>
                </div>


                <!-- div for input user preference -->
                <div id="pref-rec-btn-container">
                    <form method="POST" id="preferences-container">
                        {% csrf_token %}

                        <!-- Energy drop down -->
                        <div class="preference-container">
                            <label for="energy_pref" class="preference-label">Energy</label>
                            <select id="energy_pref" name="energy_pref" class="drop-down-box">
                                <option value="None" {% if preferences.energy_input == None %}selected {% endif %}>NONE</option> 
                                <option value="High" {% if preferences.energy_input == "High" %}selected {% endif %}>HIGH</option>
                                <option value="Medium" {% if preferences.energy_input == "Medium" %}selected {% endif %}>MEDIUM</option>
                                <option value="Low" {% if preferences.energy_input == "Low" %}selected {% endif %}>LOW</option>
                            </select>
                        </div>

                        <!-- Tempo drop down -->
                        <div class="preference-container">
                            <label for="tempo_pref" class="preference-label">Tempo</label>
                            <select id="tempo_pref" name="tempo_pref"  class="drop-down-box">
                                <option value="None" {% if preferences.tempo_input == None %}selected {% endif %}>NONE</option> 
                                <option value="High" {% if preferences.tempo_input == "High" %}selected {% endif %}>HIGH</option>
                                <option value="Medium" {% if preferences.tempo_input == "Medium" %}selected {% endif %}>MEDIUM</option>
                                <option value="Low" {% if preferences.tempo_input == "Low" %}selected {% endif %}>LOW</option>
                            </select>
                        </div>

                    </form>

                    <!-- recommend btn -->
                    <button onclick="recommend()" id="recommend-btn">Recommend</button>

                </div>
                
                <!-- horizontal line -->
                <hr>

                <!-- div for displaying recommendation -->
                <div id="recommendation-display-container">  
                    <h2>Recommendation</h2>

                    <!-- track details -->
                    <div id="recom-track-detail-container">
                        {% include "nextTrackMR/recommendation.html "%}
                    </div>  
                </div>
            </div>
        </div>
        
        <!-- music player -->
        <div id="music-player-container">
            <button id="prev-btn">Prev</button>
            {% if all_tracks %}
            <iframe 
                id="music-player" 
                src="https://open.spotify.com/embed/track/{{ all_tracks.0.track_id }}" 
                frameborder="0">
            </iframe>
            {% endif %}
            <button id="next-btn">Next</button>
        </div>
       

        <script>
            console.log("JAVASCRIPT LOADING")

            let track_history = [];     //store track in order
            let current_track_index = -1;   // current track index (default : -1) 

            // for prev/next btn disabling
            function updateButtons() {
                // if no more prev track , disable the prev btn
                if (current_track_index <= 0){
                    document.getElementById('prev-btn').disabled = true;
                } else {   //otherwise, enable
                    document.getElementById('prev-btn').disabled = false;
                }
                // if no more next track, disable the next Btn 
                if (current_track_index >= track_history.length - 1){
                    document.getElementById('next-btn').disabled = true;
                } else { //otherwise, enable
                    document.getElementById('next-btn').disabled = false;
                }
            }
            // setting first default track in history
            window.addEventListener('load', function() {
                let first_track_id = "{{ all_tracks.0.track_id }}"; 
                track_history.push(first_track_id);
                current_track_index = 0;
                updateButtons();
            });

            // setting track in music player
            function playTrack(trackId){
                // get music player and set the track with trackId (new track set)
                let music_player = document.getElementById('music-player');
                music_player.src = `https://open.spotify.com/embed/track/${trackId}`;
                
                // store trackId in history
                if (track_history[current_track_index] != trackId){     // new track has been set
                    // if previous btn is pressed and new song is set after that, we delete the future tracks
                    track_history = track_history.slice(0, current_track_index + 1);        

                    track_history.push(trackId)     // add new track to history
                    current_track_index++;      // current index + 1
                    console.log("Current index: ", current_track_index);
                    console.log("Changed track history: ", track_history);
                }
                updateButtons();
            }
            
            // prev btn event listener
            document.getElementById('prev-btn').addEventListener('click', function(){
                if (current_track_index > 0) {        // if current track is second track or later tracks of history, you can play previous track 
                    current_track_index--;        // move current track index backward
                    let trackId = track_history[current_track_index];       // take the previous track id from track history 
                    document.getElementById('music-player').src =       //set that
                        `https://open.spotify.com/embed/track/${trackId}`;
                } else {        // this means no previous track in history
                    alert("No previous track.");
                }
                updateButtons();
            });

            // prev btn event listener
            document.getElementById('next-btn').addEventListener('click', function(){
                if (current_track_index < track_history.length - 1) {        // if current track is second to last track or earlier tracks of history, you can play next track 
                    current_track_index++;        // move current track index forward
                    let trackId = track_history[current_track_index];       // take the next track id from track history 
                    document.getElementById('music-player').src =       //set that
                        `https://open.spotify.com/embed/track/${trackId}`;
                } else {        // this means no previous track in history
                    alert("No next track.");
                }
                updateButtons();
            });

            

            // gets called when add track button is clicked
            function addTrack(trackId){
                console.log("ADDING")
                // this is added due to Search function not working correctly. 
                const searchQuery = document.querySelector('.search-bar-input').value;      // input data in search bar
                fetch(`/add_to_inputs/${trackId}/?q=${encodeURIComponent(searchQuery)}`)        // encodeURIComponent : replace special characters
                .then(response => response.json())
                .then(data => {
                    // replace the all-tracks section
                    document.getElementById("all-tracks-list").innerHTML = data.all_tracks_html;
                    
                    // replace "Your Playlist" section
                    document.getElementById("input-tracks-list").innerHTML = data.input_tracks_html;
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert("Failed to add the track to Input List.");
                });
            }

            function removeTrack(trackId){
                // this is added due to Search function not working correctly. 
                const searchQuery = document.querySelector('.search-bar-input').value;      // input data in search bar
                fetch(`/remove_from_inputs/${trackId}/?q=${encodeURIComponent(searchQuery)}`)
                .then(response => response.json())
                .then(data => {
                    // replace the all-tracks section
                    document.getElementById("all-tracks-list").innerHTML = data.all_tracks_html;
                    
                    // replace "Your Playlist" section
                    document.getElementById("input-tracks-list").innerHTML = data.input_tracks_html;
                })
                .catch(error => {
                    console.error("Error: ", error);
                    alert("Failed to remove the track from the input list");
                })
            }

            // csrf token from frontend (to be passed to backend via post header)
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            // event listener for energy and tempo dropdown 
            document.getElementById('energy_pref').addEventListener('change', updatePreference);
            document.getElementById('tempo_pref').addEventListener('change', updatePreference);

            // update preference 
            function updatePreference(){
                
                // form data passed from frontend 
                var formData = new FormData(document.getElementById('preferences-container'));
                fetch("/update_preference/", {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('energy_pref').value = data.energy_input ?? "None";
                    document.getElementById('tempo_pref').value = data.tempo_input ?? "None";
                    console.log("preferences saved!")
                })
                .catch(error => {
                    console.error("Error updating preferences:", error);
                    alert("Failed to update preferences.");
                });
            }

            function recommend(){
                fetch("/recommend/")
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                        return;
                    }
                    document.getElementById('recom-track-detail-container').innerHTML = data.recommendation_html;
                })
                .catch(error => {
                    console.error("Error finding recommendation: ", error);
                    alert("Failed to get recommendation. Please try again.");
                })
            }
        
            document.getElementById('all-tracks-title').addEventListener('click', function(e) {
                if (e.target && e.target.id === 'reset-tracks-btn') {
                    e.preventDefault();
                    resetAllTracks();
                }
            });

            // show all tracks
            function resetAllTracks(){
                fetch ("/reset_all_tracks/")
                .then(response => response.json())
                .then(data => {
                    // replace the all-tracks section
                    document.getElementById("all-tracks-list").innerHTML = data.all_tracks_html;
                    document.getElementById("all-tracks-title").innerHTML = "<h2>All Tracks</h2>";     // change title
                    document.querySelector('.search-bar-input').value = '';     //clear search bar
                })
                .catch(error => {
                    console.error("Error resetting tracks:", error);
                    alert("Failed to show all tracks.");
                });
            }

            // search tracks
            document.getElementById('search-bar').addEventListener('submit', function(e){
                console.log("searching...")
                e.preventDefault();
                searchTracks();
            })

            function searchTracks(){
                searchQuery = document.querySelector('.search-bar-input').value;        // user input keyword
                fetch(`/search_tracks/?q=${encodeURIComponent(searchQuery)}`)
                .then(response => response.json())
                .then(data => {
                    // replace the all-tracks section
                    document.getElementById("all-tracks-list").innerHTML = data.search_tracks_html;
                    document.getElementById("all-tracks-title").innerHTML = '<h2>Your Search Results</h2><a href="#" id="reset-tracks-btn">Show All Tracks</a>'
                })
                .catch(error => {
                    console.error("Error searching tracks:", error);
                    alert("Failed to search.");
                });
            }
        </script>
        
    </body>
</html>