{% load static %}

<html>

    <head>
        <meta charset="UTF-8">
        <title>Next Track : Music Recommender System</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>

        <!-- input box for track id -->
        <form action="/add_to_inputs/"  class="input_box_trackId_container" method="POST">
            
            {% csrf_token %}

            <input type="text" name="input_track_id" class="input_id_bar">
            <input type="submit" value="Add" class="input_id_btn">
        </form>

        <!-- div for input user preference -->
        <form action="/update_preference/" method="POST" class="preferences_container">
            {% csrf_token %}

            <!-- Energy drop down -->
            <div class="preference_container">
                <label for="energy" class="preference_label">Energy</label>
                <select name="energy" class="drop_down_box" onchange="this.form.submit()">
                    <option value="High" {% if preferences.energy == "High" %}selected {% endif %}>HIGH</option>
                    <option value="Medium" {% if preferences.energy == "Medium" %}selected {% endif %}>MEDIUM</option>
                    <option value="Low" {% if preferences.energy == "Low" %}selected {% endif %}>LOW</option>
                </select>
            </div>

            <!-- Tempo drop down -->
            <div class="preference_container">
                <label for="tempo" class="preference_label">Tempo</label>
                <select name="tempo"  class="drop_down_box" onchange="this.form.submit()">
                    <option value="High" {% if preferences.temop == "High" %}selected {% endif %}>HIGH</option>
                    <option value="Medium" {% if preferences.tempo == "Medium" %}selected {% endif %}>MEDIUM</option>
                    <option value="Low" {% if preferences.tempo == "Low" %}selected {% endif %}>LOW</option>
                </select>
            </div>

        </form>

        
        <!-- div for displaying tracks (user inputs and recommended song) -->
        <div class="main_container">

            <!-- div for displaying user input tracks -->
            <div class="input_display_container">

                <h3>Your Input Tracks</h3>
                <div class="scrollable_container">

                    {% for track in tracks %}
                    {% if track %}
                    <!-- track details -->
                    <div class="outer_track_detail_container">
                        <div class="track-detail-container1">
                            <!-- first line -->
                            <div class="track-detail-container2">
                                <p>{{ track.name }}</p>
                                <p>{{ track.first_artist }}</p>
                            </div>
                            <!-- second line -->
                            <p>{{track.id}}</p>
                        </div>

                        <div class="remove_btn_container">
                            <!-- remove btn -->
                            <button onclick="window.location.href='/remove_from_inputs/{{ track.id }}'" class="remove_btn">Remove</button>
                        </div>
                    </div>
                    {% endif%}

                    {% endfor %}
                </div>

            </div>

            <!-- div for displaying recommendation -->
            <div class="recommendation_display_container">  
                <h3>Recommendation</h3>
                {% if recommended_track %}
                <!-- recommended track details -->
                <div class="recom_track_container">
                    <!-- track details -->
                    <div class="recom_track-detail-container">
                        <p>Track  : {{recommended_track.trackName}}</p>
                        <p>Artist : 
                            {% for artist in recommended_track.artists %}
                                {{ artist }} 
                                {% if not forloop.last %}
                                ,
                                {% else %}
                                .
                                {% endif %}
                            {% endfor %}
                        </p>
                        <a href="https://open.spotify.com/track/{{recommended_track.trackId}}">https://open.spotify.com/track/{{recommended_track.trackId}}</a>
                    </div>  
                    
                    <div class="music_player_container">
                        <iframe src="https://open.spotify.com/embed/track/{{recommended_track.trackId}}"  frameborder="0" ></iframe>
                    </div>   
                </div>
                {% endif %}
            </div>

        </div>

        <button onclick="window.location.href='/recommend'" class="recommend_btn">Recommend</button>
    </body>
</html>