    body {
        background-color: #0D1B2A;
        margin: 0;
        padding-bottom: 110px;
    }

    h2 {
        margin : 0;
        color: #E0E1DD;
        padding: 15px 0 0 25px;
    }

    p {
        color: white;
        padding-left: 20px;
        font-size: 18px;
        margin: 5px;
    }

    

    #whole-screen {
        display: flex;
        flex-direction: row;
        padding: 15px 30px;
        gap: 20px;
        min-height: 100vh;
    }

    /* left side section */
    #left-side-section {
        width: 45%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    /* search bar */
    #search-bar {
        width: 95%;
        height: 40px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        color: #0D1B2A;
    }


    .search-bar-input {
        flex: 1;
        background-color: #E0E1DD;
        border-radius: 16px 0 0 16px;
        padding-left: 10px;
        color: #0D1B2A;
    }
    /* placeholder color */
    .search-bar-input::placeholder{
        color: #0D1B2A;
        opacity: 0.7;
    }
    /* Chrome, Safari */
    .search-bar-input::-webkit-input-placeholder { 
        color: #0D1B2A; 
        opacity: 0.7; 
    } 
    /* Firefox */
    .search-bar-input::-moz-placeholder{ 
        color: #0D1B2A; 
        opacity: 0.7; 
    } 
    /* IE 10+ */
    .search-bar-input:-ms-input-placeholder { 
        color: #0D1B2A; 
        opacity: 0.7; 
    } 
    
    .search-bar-btn {
        width: 20%;
        background-color: #E0E1DD;
        border-radius: 0 16px 16px 0;
        color: #0D1B2A;
        font-weight: bold;
        font-size: 16px;
        border: 0;
    }

    

    /* available tracks section */
    #all-tracks-section{
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        min-height: 20vh;
    }

    #all-tracks-title {
        display: flex; 
        flex-direction: row; 
        justify-content: space-between; 
        align-items: baseline;
    }

    #reset-tracks-btn{
        color: #E0E1DD;
        font-size: 16px;
        text-decoration: None;
        padding-right: 20px;
    }

    #reset-tracks-btn:hover {
        color: #778DA9;
        transition-duration: 0.1s;
    }

    .scrollable-list-container {
        flex: 1;
        max-height: 70vh;
        min-height: 20vh;
        overflow-y: auto; 
        padding: 30px;
        background-color: #E0E1DD;
        margin: 10px;
        border-radius: 20px;
    }

    .music-info-container {
        display: flex;
        flex-direction: row;
        background-color: #415A77;
        margin: 10px;
        border-radius: 16px;
    }

    .music-info {
        width: 90%;
    }

    .music-play-btn {
        background-color: transparent; 
        padding:0; 
        border: 0; 
        color: white; 
        font-size: 18px;
        text-align: left;
        font-weight: bold;
        position: relative;
    }

    .music-play-btn:hover {
        color: #0D1B2A;
        text-decoration: underline;
        transition-duration: 0.3s;
    }
    
    .suggestion {
        color: #E0E1DD;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        font-size: smaller;
        background-color: #0D1B2A;
        padding: 8px;
        border-radius: 6px;
        bottom: 30%;
        margin-left : 5px;
        max-width: 170px;     
        width: max-content;   
        white-space: normal;   
        word-wrap: break-word; 
    }

    .music-play-btn:hover .suggestion {
        visibility: visible;
        opacity: 0.5;
        transition-duration: 0.3s;
    }

    .music-info-btn-container {
        width: 20%;
    }

    .msg-text {
        font-size: 20px; 
        font-weight: bold; 
        color: #0D1B2A;
    }

    #playlist-section .music-info-btn-container{
        width: 18%;
    }

    .music-info-btn {
        height: 100%;
        width: 100%;
        border: none;
        background-color: #778DA9;
        color: #E0E1DD;
        border-radius: 0 16px 16px 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }

    .music-info-btn:hover {
        background-color: #5f7f9f;
    }


   
    /* right side section (recommendation related) */
    #right-side-section {
        width: 55%;    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #playlist-section {
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

    #playlist-section .scrollable-list-container {
        min-height: 20vh;
        max-height: 25vh;
    }

    /* pref and rec btn */
    #pref-rec-btn-container {
        display: flex;
        flex-direction: column;
    }

    /* pref */
    #preferences-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .preference-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .preference-label {
        margin-right: 10px;
        font-size: 20px;
        font-weight: bolder;
        color: white;
    }

    .drop-down-box {
        height : 100%;
        border-radius: 16px;
        background-color: #E0E1DD;
        color:  #0D1B2A;
        padding: 10px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }


    /* rec btn */
    #recommend-btn {
        width: 40%;
        height: 40px;
        background-color: #E0E1DD;
        color: #0D1B2A;
        border-color: #415A77;
        border-width: 2px;
        border-radius: 16px;
        cursor: pointer;
        align-self: center;
        font-size: 20px;
        font-weight: bolder;
        margin-top: 5px;
    }

    #recommend-btn:hover{
        background-color: 415A77;
        border-color: #E0E1DD;
        color : #E0E1DD;
        transition-duration: 0.3s;
    }


    hr {
        width: 95%;
        border: none;
        border-top: 2px solid #415A77;
        align-self: center;
    }

    /* recommendation display */
    #recommendation-display-container{
        display: flex;
        flex-direction: column;
    }

    #recommendation-display-container h2{
        padding-top: 0; 
        padding-bottom: 15px;
        color: #E0E1DD;
    }


    #recommendation-display-container p{
        color: #0D1B2A;
        padding-left: 0;
    }


    #recom-track-detail-container {
        background-color: #E0E1DD;
        width: 50%;
        align-self: center;
        border-radius: 20px;
        padding: 15px 20px;  
        min-height: 120px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .track-detail-text {
        text-align: center;
    }

    .track-title-text {
        font-size: 25px;
        font-weight: bolder;
    }

    .artist-name-text {
        font-style: italic;
    }

    
    /* music player */
    #music-player-container{
        position: fixed;
        bottom: 0;         
        left: 50%;
        transform: translateX(-50%);
        width: 90%;  
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    #music-player{
        width: 30%;
        height: 100px;
        border: none;
        border-radius: 16px;
        align-self: center;
    }

    #prev-btn,
    #next-btn{
        height: 45px;
        width: 60px;
        border-radius: 20px;
        border: none;
        font-size: 20px;
        font-weight: bolder;
        cursor: pointer;
        background-color: #778DA9; 
        color: #0D1B2A;
    }

    #prev-btn:disabled,
    #next-btn:disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }



@media (max-width: 1080px) {
        #whole-screen {
            flex-direction: column;
            height: auto;
        }

        #left-side-section{
            width: 100%;
            margin: 0;
            max-height: 70vh;
        }
        
        #all-tracks-section{
            max-height: 50vh;
            overflow-y: auto;
        }
        
        .music-info-btn-container {
            width: 30%;
        }

        #playlist-section .music-info-btn-container{
            width: 30%;
        }

        #music-player{
            width: 80%;
            height: 100px;
            border: none;
            border-radius: 16px;
            align-self: center;
        }


        #right-side-section {
            width: 100%;
            margin: 0;
        }

        #preferences-container{
            flex-direction: column;
        }

        .preference-container{
            margin: 10px 0;
        }

        #recommend-btn {
            width: 80%;
            margin-top: 5px;
        }


    }